
.nav--container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 220px;
  position: fixed;
  z-index: 200;
  background-color: black;
  height: 100%;
}

.nav--items{
  padding-left: 0.5rem;
  padding-top: 1rem;
}

#logo{
  width: 131px;
  height: 40px;
}


#logo:hover{
  cursor: pointer;
}

.nav--section-one{
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 150px;
}

.nav--section-two{
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 150px;
}

.nav--buttons{
  background: black;
  border: none;
  color: #b3b3b3;
  text-align: center;
  padding: 0.5rem;
}

.nav--buttons:hover{
  color: #ffff;
}

.nav--icons{
  font-size: 20px;
  float: left;
}

.nav--text{
  float: left;
  padding-left: 1rem;
  font-size: 14px;
  font-weight: 700;
}

.nav--terms-container{
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 150px;
}

.nav--section-three{
  padding-bottom: 5rem;
  position: absolute;
  bottom: 0;
}

.terms{
  display: flex;
  flex-wrap: wrap;
}

.terms-list{
  color: #A7A7A7;
  font-size: 0.6875rem;;
  font-weight: 400;
  padding: 0.5rem;
  cursor: pointer;
}

.nav--language-button{
  padding: 4px 3px 4px 3px;
}

.nav--globe{
  text-align: center;
  background-color:transparent;
  color: #ffff;
  border: solid 1px;
  border-radius: 500px;
  font-size: 14px;
  font-weight: 700;
  padding-block:3px;
  padding-inline: 15px;
}

/* Most of the styling is based on Dev tools info
Adjusted some to try replicate Spotify webpage  */